<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBGawbYKy2sQPw4vLhnC4ETj_d1SR8Jgd4</string>
	<key>GCM_SENDER_ID</key>
	<string>206659431342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.duke.Seamless</string>
	<key>PROJECT_ID</key>
	<string>seamless-clinics</string>
	<key>STORAGE_BUCKET</key>
	<string>seamless-clinics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206659431342:ios:4e201ca42c5c5f61eff63f</string>
</dict>
</plist>